In [1]:
# !/usr/bin/env python3.9
# -*- coding: utf-8 -*- 
#----------------------------------------------------------------------------
# Created By  : Sergey Krasnitskii   
# Created Date: 03/11/2022 17:20
# version ='1.0'

import pandas as pd

2)Работа с типами данных
    
a.Прочитать первые 4 столбца файла «2.Data», пропустить при этом первые 3 строчки 

b.Столбец '№' – преобразовать в тип float

c.Столбцы 'дата1' и 'дата2' – преобразовать в формат DateTime

d.Создать столбец «дней до сегодня» - считающий кол-во дней от  'дата1' до сегодняшней даты

In [2]:
# 2.Data
data_2 = pd.read_excel('..\\DATA\\2. Data.xlsx',
                        usecols = [0, 1, 2, 3],
                        index_col=None,
                        skiprows=[0, 1, 2])

In [3]:
print(f'Размер DataFrame: {data_2.shape}')

Размер DataFrame: (342, 4)

In [4]:
data_2.head()

            №       дата1       дата2     текст
0  1797344894  17.05.2021  06.12.2021  MggOIJV4
1  1206736113  14.04.2021  07.10.2021  KIdSRIUU
2  1922424045  04.03.2021  09.09.2021  cdO6vlPn
3  1495231914  13.01.2021  28.06.2021  Y3WsRnNl
4  1073154291  15.05.2020  14.05.2021  lKhrsle8

In [5]:
data_2.tail()

              №       дата1       дата2     текст
337  1359881107  28.12.2020  08.07.2021  J3HJbRWu
338  1346543858  20.04.2020  26.09.2020  36tCJnjF
339  1567045355  19.04.2021  30.10.2021  c9SCWXkJ
340  1991038164  04.08.2021  14.11.2021  rDCUfVyC
341  1953016509  12.07.2021  10.05.2022  c59i04Bg

In [6]:
data_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342 entries, 0 to 341
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   №       342 non-null    int64
 1   дата1   341 non-null    object
 2   дата2   340 non-null    object
 3   текст   342 non-null    object
dtypes: int64(1), object(3)
memory usage: 10.8+ KB

In [7]:
data_2 = data_2.astype({'№': float})
data_2['дата1'] = pd.to_datetime(data_2['дата1'])
data_2['дата2'] = pd.to_datetime(data_2['дата2'])

C:\Users\Сергей\AppData\Local\Temp\ipykernel_12764\2903116819.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data_2['дата1'] = pd.to_datetime(data_2['дата1'])
C:\Users\Сергей\AppData\Local\Temp\ipykernel_12764\2903116819.py:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data_2['дата2'] = pd.to_datetime(data_2['дата2'])

In [8]:
data_2

                №      дата1      дата2     текст
0    1.797345e+09 2021-05-17 2021-06-12  MggOIJV4
1    1.206736e+09 2021-04-14 2021-07-10  KIdSRIUU
2    1.922424e+09 2021-04-03 2021-09-09  cdO6vlPn
3    1.495232e+09 2021-01-13 2021-06-28  Y3WsRnNl
4    1.073154e+09 2020-05-15 2021-05-14  lKhrsle8
..            ...        ...        ...       ...
337  1.359881e+09 2020-12-28 2021-08-07  J3HJbRWu
338  1.346544e+09 2020-04-20 2020-09-26  36tCJnjF
339  1.567045e+09 2021-04-19 2021-10-30  c9SCWXkJ
340  1.991038e+09 2021-04-08 2021-11-14  rDCUfVyC
341  1.953017e+09 2021-12-07 2022-10-05  c59i04Bg

[342 rows x 4 columns]

In [9]:
data_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342 entries, 0 to 341
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   №       342 non-null    float64
 1   дата1   341 non-null    datetime64[ns]
 2   дата2   340 non-null    datetime64[ns]
 3   текст   342 non-null    object
dtypes: datetime64[ns](2), float64(1), object(1)
memory usage: 10.8+ KB

In [10]:
data_2['Days until now'] = pd.to_datetime("today") - data_2['дата1']

In [11]:
data_2

                №      дата1      дата2     текст           Days until now
0    1.797345e+09 2021-05-17 2021-06-12  MggOIJV4 535 days 17:01:48.827990
1    1.206736e+09 2021-04-14 2021-07-10  KIdSRIUU 568 days 17:01:48.827990
2    1.922424e+09 2021-04-03 2021-09-09  cdO6vlPn 579 days 17:01:48.827990
3    1.495232e+09 2021-01-13 2021-06-28  Y3WsRnNl 659 days 17:01:48.827990
4    1.073154e+09 2020-05-15 2021-05-14  lKhrsle8 902 days 17:01:48.827990
..            ...        ...        ...       ...                      ...
337  1.359881e+09 2020-12-28 2021-08-07  J3HJbRWu 675 days 17:01:48.827990
338  1.346544e+09 2020-04-20 2020-09-26  36tCJnjF 927 days 17:01:48.827990
339  1.567045e+09 2021-04-19 2021-10-30  c9SCWXkJ 563 days 17:01:48.827990
340  1.991038e+09 2021-04-08 2021-11-14  rDCUfVyC 574 days 17:01:48.827990
341  1.953017e+09 2021-12-07 2022-10-05  c59i04Bg 331 days 17:01:48.827990

[342 rows x 5 columns]

In [12]:
data_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342 entries, 0 to 341
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   №               342 non-null    float64
 1   дата1           341 non-null    datetime64[ns]
 2   дата2           340 non-null    datetime64[ns]
 3   текст           342 non-null    object
 4   Days until now  341 non-null    timedelta64[ns]
dtypes: datetime64[ns](2), float64(1), object(1), timedelta64[ns](1)
memory usage: 13.5+ KB

In [13]:
# Задание 2 выполнено